<%= @game.player.name %> has attacked <%= @game.player2.name %><br>

<%= @game.player2.name %> now has <%= @game.player2.points %> points

<form action="/play">
    <input type="submit" value="OK">
</form>
